.diaryList > .menubar{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 0px;
    
}

.menubar > select{
    padding: 10px 20px;
    font-weight: bold;
    width: auto;
    border: none;
    background-color: rgb(191, 192, 193);
    border-radius: 5px;
    
}
.menubar > Button{
    flex: 1;
}